<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="default | dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} [%thread] %-5level %logger{36} [cid=%X{correlationId:-}] - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="docker | prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
        </appender>
    </springProfile>

    <logger name="com.yape" level="INFO"/>
    <logger name="org.springframework.kafka" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
